*.iml
.gradle
.kotlin/
/local.properties
/.idea/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
/.firebase/
/*-debug.log
/*-debug.*.log
**/src/test/
**/src/androidTest/
/tests/
/firebase.rules-test.json
